body
{
    /* display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11% 89%; */
    margin: auto;
}
header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgb(68, 68, 68);
    
}
#headerContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
}
#collapse {
    text-align: center;
}

main
{
    
    padding: 25px;
}
#aboutMeHeadshot
{
    
   display: block;
   text-align: center;
    
}
#aboutMeHeadshot img
{
    object-fit: cover;
    width: 70%;
    height: auto;
    position: relative;
    top: 13%;
    padding: 20px;
}