body
{
    /* display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11% 89%; */
    margin: auto;
}
header {
    
    background-color: rgb(68, 68, 68);
    
}
#collapse {
    text-align: center;
}
.jumbotron {
    text-align: center;
    
    
}
main
{
    
    padding: 25px;
}
#aboutMeHeadshot
{
    
   display: block;
   text-align: center;
    
}
#aboutMeHeadshot img
{
    object-fit: cover;
    width: 40%;
    height: auto;
    position: relative;
    top: 13%;
    padding: 20px;
}