
body
{
    margin: auto;
    background-color: rgb(255, 255, 255);
}
body header
{
    background-color: rgb(68, 68, 68);
}
#collapse {
    text-align: center;
}

body div {
    text-align: center;
    
}

body button{
    text-align: center;
}

#backgroundDiv
{
    text-align: center;
    position: relative;
    top: 50px;
}

#comments
{
    resize: none;
}

