
body
{
    margin: auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: gray;
    font-family: sans-serif;
}
body header
{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align:center;
    color: white;
    
}
body div {
    padding: 5px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

body button{
    text-align: center;
}

#backgroundDiv
{
    background-color: cyan;
}

#comments
{
    resize: none;
}

#eyeColor
{
    width: 65px;
}

a:link
{
    color: white;
}

a:visited
{
    color: black;
}

a:active
{
    color: rgb(205,0,26);
}

@media(max-width: 1024px)
{
    body
    {
        grid-template-columns: 20% 60% 20%;
    }
}
@media(max-width: 600px)
{
    body
    {
        grid-template-columns: 100%;
    }
    body div {
        
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    body header
    {
        grid-column-start: 1;
        grid-column-end: 2;
        background-color: gray;
        
        
    }
}