
body
{
    margin: auto;
    background-color: gray;
}
body header
{
    display: grid;
    
    background-color: rgb(68, 68, 68);
    
}
#headerContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
}
#collapse {
    text-align: center;
}

body div {
    padding: 5px;
    text-align: center;
    
}

body button{
    text-align: center;
}

#backgroundDiv
{
    background-color: rgb(68, 68, 68);
    color: white;
}

#comments
{
    resize: none;
}

#eyeColor
{
    width: 65px;
}




@media(max-width: 600px)
{
    
    #backgroundDiv {
        
        text-align: center;
        
    }

    
}