body {
    margin: auto;
}
header {
    background-color: rgb(68, 68, 68);
    
}
#collapse {
    text-align: center;
}
div h3 {
    text-align: center;
}
.portfolioSite {
    margin-top: 15px;
    margin-bottom: 30px;
}

img {
    display: block;
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: solid black;
    
}
p {
    text-align:center;
}
