body {
    margin: auto;
}
header {
    background-color: rgb(68, 68, 68);
    
}
#headerContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
}
#navItemCont {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}