body{
    display: grid;
    grid-template-columns: 32% 68%;
    grid-template-rows: 4.9% 21.1% 25% 25% 25%;
    font-family: serif;
    height: auto;
    width: 1920px;
    max-width: 100%;
    margin: auto;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgb(68, 68, 68);
    
}
#headerContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
}
#navItemCont {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}

#headshot
{
    grid-area: 2 / 1 / 4 / 2;
    background-color: rgb(205,0,26);
    padding: 5%;
    text-align: center;
    font-size: 50pt;
    
    color: white;
    
}
#myName
{
    position: relative;
    top: -12.5%;
    
}
#headshotImage
{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: black solid .15em;
}
#generalInfo
{
    grid-area: 4 / 1 / 6 / 2;
    background-color: rgb(68, 68, 68);
    padding: 20pt;
    text-align: center;
    color: white;
    font-size: 100%
}
#generalInfo h1{
    font-size: 2.5em;
    text-decoration: underline;
}

#details
{
    display: grid;
    grid-area: 2 / 2 / 6 / 3;
    background-color: rgb(238, 238, 238);
    padding: 20pt;
    
}

#details h1
{
    font-size: 50pt;
    text-align: center;
    text-decoration: underline;
}

#details p
{
    font-size: 15.5pt;
}

#generalInfo a:link
{
    color: white;
}

#generalInfo a:visited
{
    color: black;
}

#generalInfo a:active
{
    color: rgb(205,0,26);
}

#summary
{
    
    grid-area: 1 / 2 / 2 / 3;
}

#workHistory
{
    
    grid-area: 2 / 2 / 3 / 3;
}

#education
{
    
    grid-area: 3 / 2 / 4 / 3;
}

#areasOfExpertise
{
    grid-area: 4 / 2 / 5 / 3;
}

@media (max-width: 962px)
{
    #myName
    {
        color: rgba(255, 0, 0, 0);
    }
    
}