body{
    /* display: grid;
    grid-template-columns: 32% 68%;
    grid-template-rows: 4.9% 21.1% 25% 25% 25%; */
    font-family: serif;
    height: auto;
    width: 1920px;
    max-width: 100%;
    margin: auto;
}

header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: rgb(68, 68, 68);
    
}
#headerContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    text-align: center;
}
#collapse {
    text-align: center;
}
.jumbotron {
    text-align: center;
    position: relative;
    top: 50px;
}
#downloadResume {
    text-align: center;
    position: relative;
    top: 50px;
}
#resume1, #resume2 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    width: 40%;
}

@media (max-width: 962px)
{
    #myName
    {
        color: rgba(255, 0, 0, 0);
    }
    
}