body {
    background: rgb(66, 66, 66);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    width: 40em;
    height: 7em;
    padding: 10px;
    box-shadow: 5px 5px 8px rgb(29, 29, 29);
    position: relative;
    margin-bottom: .75%;
}
h1#siteTitle
{
    color: #ffffffff;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    text-align: center;
}
button#NotAButton
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
main#secretstash
{
    
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: auto;
    width: 45em;
    text-align: center;
    background: grey;
    box-shadow: 5px 5px 8px rgb(29, 29, 29);
    font-family: sans-serif;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}